<h1>Update Owner</h1>

<form method="post" action="/owners/<%=@owner.id%>">

  <label>Name:</label>

  <br></br>

  <input id="owner_name" name="owner[name]" required>

  <br></br>

  <label>Choose an existing pet:</label>

  <br></br>

  <%Pet.all.each do |pet| %>
    <input type="checkbox" name="owner[pet_ids][]" value="<%=pet.id%>"<%= "checked" if @owner.pets.include?(pet) %>> <%=pet.name%>
    <br></br>
  <% end%>

  <label>and/ or create a new pet:</label>
  <br></br>
  <label for="pet[name]">name:</label>
    <input id="pet_name"  type="text" name="pet[name]">
  <br></br>

  <input type="submit" value="Update Owner">
</form>
