<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label for="new_owner">Name:</label>
  
  <br></br>
  
  <input id="new_owner" type="text" name="owner[name]">
  
  <br></br>

  <label for="choose_pet">Choose an existing pet:</label>

  <br></br>

  <% @pets.each do |pet| %>
    <input id="<%= pet.id %>" type="checkbox" name="owner[pet_ids][]" value="<%= pet.id %>" id="<%= pet.id %> "><%= pet.name %></input>
  <% end %>

  <br></br>

  <label>and/or create a new pet:</label>

   <br></br>

  <label for ="new_pet">Name:</label>
  <input id="new_pet" type="text" name="pet[name]">

  <br></br>
  
  <input type="submit" value="Create Owner">
</form>