<h1>Create a new Pet</h1>

<form  action="/pets" method="post">
  <label for="pet[name]">Name:</label>
    <input id="pet_name" name="pet[name]" type="text" required>

    <br></br>

    <label>Choose an owner:</label>

    <%= Owner.all.each do |owner| %>
      <input checkbo
    
    <input type="submit" value="Create Pet">
</form>
